/* RespNav */
.respnav{
    background: rgba(0,0,0,0.8);
    display: grid;
    grid-template-columns: 15% 75%;
    justify-content: space-around;
    padding: 0.7rem;
    height: 5rem;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.respnavlogo span{
    font-size: 3rem;
}
.respnav h2{
    font-size: 1rem;
    color: var(--color-white);
}
#myName{
    font-size: 1.5rem;
    color: var(--color-primary);
}
.hamburger__icon{
    display: none;
}

/* Nav Links */
.respnav__link h1{
    color: var(--color-white);
}
.respnav__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.respnav__link{
    padding: 0.5rem;
    cursor: pointer;
}
.respnav__link a h2{
    cursor: pointer;
}
.respnav__link a h2:hover{
    text-decoration:underline;
    text-decoration-color: var(--color-primary-variant);
}
/* NavLinks Mobile */
.mobile__links{
    display: none;
}

.mobile__link{
    padding: 1rem;
}
.mobile__item h1{
    color: var(--color-white);
    transition: var(--trans);
}
.mobile__item h1:hover{
    color: var(--color-white);
    text-decoration: underline;

}

/* Media Query */
@media (max-width:700px) {
    .mobile__links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3rem;
        background: rgba(0,0,0,0.8);
        padding: 2rem;
        width: 100%;
        border-top:2px solid var(--color-white);
        opacity: 0.9;
    }
    .respnav__links{
        display: none;
    }
    .respnav{
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .respnav h1{
        font-size: 1rem;
    }
    .hamburger__icon{
        display: block;
        font-size: 3rem;
        color: var(--color-white);
    }
    .respnav{
        grid-template-columns: 45% 15%;
        align-items: center;
    }
    .hamburger__icon{
        font-size: 2rem;
    }
}
@media (max-height:500px) {
    .mobile__links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 3rem;
        background: rgba(0,0,0,0.8);
        padding: 2rem;
        width: 100%;
        border-top:2px solid var(--color-white);
        opacity: 0.9;
    }
}