@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Recursive', sans-serif;
  scroll-behavior: smooth;
}
:root{
  --color-light:rgb(37, 85, 216);
  --color-light-variant:rgb(7, 33, 105);
  --color-light-two:rgb(8, 197, 197); 
  --color-light-two-variant:rgb(6, 158, 158);
  --color-dark: rgb(184, 27, 184);
  --color-dark-variant: rgb(114, 5, 114);
  --color-white:white;
  --color-white-variant:rgba(207, 179, 179, 0.795);
  --color-black:black;
  --color-black-variant:rgb(56, 54, 54);
  --trans: all 400ms ease-in-out;
}
.main__div{
  width: 99.25%;
}
::-webkit-scrollbar{
  color: black;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(to top,red,blue);
  border-radius: 20px;
}
section{
  min-height: 100vh;
}
p{
  text-align: center;
  color: var(--color-white);
  cursor: default;
}
h1,h2,h3,h4,h5,h6{
  cursor: default;
}
h1{
  font-size: 3rem;
  font-weight: 400;
  color:var(--color-light);
}
h2{
  font-size: 1.5rem;
  color:var(--color-light-two);
}

h3,h4{
  font-size: 1.25rem;
  color: var(--color-dark-variant);
}
a{
  text-decoration: none;
}
a h1{
  cursor: pointer;
}
body{
  background: var(--color-black-variant);
  background-image: url('./assets/texture.png');
  background-blend-mode:soft-light;
}

.btn{
  margin: 0.7rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--color-light);
  color: var(--color-white);
  border: 2px solid var(--color-black);
  outline: 2px solid var(--color-white);
  border-radius: 0.5rem;
  transition: var(--trans);
}
.btn:hover{
  cursor: pointer;
  background-color: transparent;
}

.btn-a{
  background:var(--color-light);
  color:var(--color-white);
  margin: 0.7rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-black);
  outline: 2px solid var(--color-white);
  border-radius: 0.5rem;
  transition: var(--trans);
  font-size: 1rem;
}
.btn-a:hover{
  cursor: pointer;
  background-color: transparent;
}
.icon-btn{
  cursor: pointer;
  font-size: 32px;
  color: var(--color-light); 
}
.container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:1024px) {
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1rem;
  }
}