@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-bg:#1f1f38;
  --color-bg-variant:#2c2c6c;
  --color-primary:#4db5ff;
  --color-primary-variant:rgba(77,181,255,0.4);
  --color-white:#fff;
  --color-light:rgba(255,255,255,0,6);
  --trans: all 400ms ease-in-out;
}
html{
  font-family: 'Recursive', sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  color: black;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(to top,var(--color-bg-variant),var(--color-white));
  border-radius: 20px;
}
section{
  min-height: 100vh;
}
p{
  text-align: center;
  color: var(--color-white);
  cursor: default;
}
h1,h2,h3,h4,h5,h6{
  cursor: default;
  font-weight: 400;
}
h1{
  font-size: 3rem;
  color:var(--color-primary);
}
h2{
  font-size: 1.5rem;
  color:var(--color-primary-variant);
}

h3,h4{
  font-size: 1.25rem;
  color: var(--color-primary-variant);
}
a{
  text-decoration: none;
}
a h1,
a h2,
a h3,
a h4,
a h5,
a h6{
  cursor: pointer;
}
body{
  background: var(--color-bg);
  background-image: url('./assets/texture.png');
  background-blend-mode:soft-light;
}

.btn{
  margin: 0.7rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 2px solid var(--color-bg);
  outline: 2px solid var(--color-white);
  border-radius: 0.5rem;
  transition: var(--trans);
}
.btn:hover{
  cursor: pointer;
  background-color: transparent;
}

.btn-a{
  background:var(--color-bg-variant);
  color:var(--color-white);
  margin: 0.7rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-bg-variant);
  outline: 2px solid var(--color-white);
  border-radius: 0.5rem;
  transition: var(--trans);
  font-size: 1rem;
}
.btn-a:hover{
  cursor: pointer;
  background-color: var(--color-primary);
}
.icon-btn{
  cursor: pointer;
  font-size: 32px;
  color: var(--color-primary); 
}
.container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:1024px) {
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1rem;
  }
}